*{
    padding: 0;
    margin: 0;
}

html,
body {
  font-family: 'Amazon Ember';
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}


footer {
  margin-top: 8rem;
  color: grey;
  bottom: 0;
  width: 100%;
}